@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model WebToDoList.DataTasks.Tasks


@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/css/StyleCreate1.css" />
</head>
<body>
    <div class="container">
        <form asp-action="Create">
            <p>
                <label for="new-task">Add Task</label>
                <div class="form-group">

                    <input id="new-task" asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="priorities" class="form-control">
                        <option>usual</option>
                        <option>important</option>
                        <option>unimportant</option>
                    </select>
                    <span asp-validation-for="priorities" class="text-danger"></span>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </p>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
